modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "rentrix-app: web"

[[workflows.workflow]]
name = "rentrix-app: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "rentrix-app"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/rentrix run dev"
cwd = "./rentrix-app"
waitForPort = 19004
router = "path"

[workflows.workflow.tasks.env]
PORT = "19004"
BASE_PATH = "/"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[[ports]]
localPort = 19004
externalPort = 80

[nix]
channel = "stable-25_05"
